<div class="">
  
  <form ng-controller="UserCreateCtrl" ng-submit="createUser()">

    <label class="item item-input item-floating-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="Name" ng-model="user.name">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email" ng-model="user.email">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>
    </br>
    <button class="button button-block button-dark">
      Registrar
    </button>
    <a class="button button-block button-energized" ng-href="#/login">
      Cancelar
    </a>

  </form>

  <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      <h4 >{{ alert.title }}</h4>
      {{ alert.detail}}
    </a>

  </div>  
  
</div>