<div class="list">
  <form action="" class="center-block" ng-submit="login()">

    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email" ng-model="user.email">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>

    </br>

    <button class="button button-positive button-block">
      SIGN IN
    </button>

    <a class="button button-dark button-block" ng-href="#/register">
      REGISTER
    </a>
  </form>

  <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      <h4 >{{ alert.title }}</h4>
      {{ alert.detail}}
    </a>

  </div>  

<div class="row" ng-controller="SocialLoginCtrl">
 
  
  <div class="button-bar">
  <a class="button button-positive icon ion-social-facebook" ng-click="socialLogin('facebook')"></a>
  <a class="button">Second</a>
  <a class="button">Third</a>
</div>
</div>
 
